
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Greeting"]</h2>
<div>&emsp;The time is @ViewData["Time"] on @ViewData["Date"]</div>
<div>&emsp;There are @ViewData["Days"] more days in @ViewData["Year"]</div>
@*<div class="link">
    <a href="/Home/Page2/10">Go to Page 2...</a>
</div>*@
